# 00. Table of Contents

01. Import Libraries
02. Import Data
03. Merge Data
04. Export Data

## 01. Import libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 02. Import data

In [3]:
# Import orders_products_prior.csv as df_ords_prior

path = r'/Users/bertpearce/Documents/Python Projects/2024.05.22 Instacard Basket Analysis/'
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [7]:
# Import orders_prepared.csv as df_ords

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_prepared.csv'), index_col = False)

In [10]:
# Review dataframe df_ords_prior; Print the first 5 rows

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
# Review dataframe df_ords; Print the first 5 rows

df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [12]:
# Review column/row dimensions for dataframe df_ords_prior

df_ords_prior.shape

(32434489, 4)

In [13]:
# Review column/row dimensions for dataframe df_ords

df_ords.shape

(3421083, 7)

## 03. Merge Data

In [14]:
# Create a new DataFrame by merging dataframes df_ords and df_ords_prior based on the shared column order_id using the default inner join and adding a merge flag

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [15]:
# Review dataframe df_merged_large; Print the first 5 rows

df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [16]:
# Review the value frequencies of the dataframe df_merged_large column _merge for verification

df_merged_large['_merge'].value_counts(dropna=False)

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

## 04. Export data

In [18]:
# Define the folder path and file name

folder_path = r'/Users/bertpearce/Documents/Python Projects/2024.05.22 Instacard Basket Analysis/'
file_name = 'orders_products_combined.pkl'

# Validate folder

os.makedirs(folder_path, exist_ok=True)

# Create the full file path

file_path = os.path.join(folder_path, '02 Data', 'Prepared Data', file_name)

# Export the dataframe to a PKL file

df_merged_large.to_pickle(file_path)

print(f"DataFrame exported to {file_path}")

DataFrame exported to /Users/bertpearce/Documents/Python Projects/2024.05.22 Instacard Basket Analysis/02 Data/Prepared Data/orders_products_combined.pkl