# 00. Table of Contents

01. Import Libraries
02. Import Data
03. Review Data
04. Derive Variables
05. Task Step 2-3
06. Task Step 4-5
07. Export Data

## 01. Import libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

print(f"Import libraries completed")

Import libraries completed

## 02. Import data

In [2]:
# Import ords_prods_merge.pkl as dataframe df_ords_prods_merge

folder_path = r'/Users/bertpearce/Documents/Python Projects/2024.05.22 Instacard Basket Analysis/'

file_name = 'ords_prods_merge.pkl'

df_ords_prods_merge = pd.read_pickle(os.path.join(folder_path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

print(f"DataFrame df_ords_prods_merge created")

DataFrame df_ords_prods_merge created

## 03. Review data

In [3]:
# Review dataframe df_ords_prods_merge; Print the first 5 rows

df_ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,0.0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,both,Soda,77.0,7.0,9.0
1,1.0,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0
2,2.0,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0
3,3.0,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0
4,4.0,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0

In [4]:
# Review column/row dimensions for dataframe df_ords_prods_merge

df_ords_prods_merge.shape

(32435070, 15)

## 04. Derive variables

In [5]:
# Define a function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
      
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
      
  elif row['prices'] > 15:
    return 'High range'
      
  else: return 'Not enough data'

print(f"Custom function created")

Custom function created

In [6]:
# Apply the function

df_ords_prods_merge['price_range'] = df_ords_prods_merge.apply(price_label, axis=1)

print(f"New column added to dataframe")

New column added to dataframe

In [7]:
# Review the value counts

df_ords_prods_merge['price_range'].value_counts()

price_range
Mid-range product    21860868
Low-range product    10126324
High range             417678
Not enough data         30200
Name: count, dtype: int64

In [9]:
# Identify the max value 

df_ords_prods_merge['prices'].max()

99999.0

In [11]:
# Populate the column using a loc() function.

df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

print(f"Column populated with loc() function")

Column populated with loc() function

In [12]:
# Populate the column using a loc() function.

df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product' 

print(f"Column populated with loc() function")

Column populated with loc() function

In [13]:
# Populate the column using a loc() function.

df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

print(f"Column populated with loc() function")

Column populated with loc() function

In [14]:
# Review the value counts

df_ords_prods_merge['price_range_loc'].value_counts()

price_range_loc
Mid-range product     21860868
Low-range product     10126324
High-range product      417678
nan                      30200
Name: count, dtype: int64

In [16]:
# Create a list to populate new variable using an if-statement and for-loops.

result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

print(f"List for new variable created and populated.")

List for new variable created and populated.

In [17]:
# Create and populate a new variable using the new list.

df_ords_prods_merge['busiest_day'] = result

print(f"Variable created and populated.")

Variable created and populated.

In [18]:
# Verify new variable

df_ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range,price_range_loc,busiest_day
0,0.0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy
1,1.0,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy
2,2.0,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy
3,3.0,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Least busy
4,4.0,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Least busy

In [20]:
# Verify new variable

df_ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22437999
Busiest day        6209808
Least busy         3787263
Name: count, dtype: int64

## 05. Task Step 2-3

In [23]:
# Create and populate a new variable using an if-statement and for-loops.

result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0 or value == 1:
    result.append("Busiest days")
  elif value == 3 or value == 4:
    result.append("Slowest days")
  else:
    result.append("Regularly busy")

df_ords_prods_merge['busiest_days'] = result

print(f"Variable created and populated.")

Variable created and populated.

In [26]:
# Verify new variable

df_ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range,price_range_loc,busiest_day,busiest_days
0,0.0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Regularly busy
1,1.0,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days
2,2.0,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days
3,3.0,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Least busy,Slowest days
4,4.0,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Least busy,Slowest days

In [28]:
# Verify new variable

df_ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy    12927873
Busiest days      11875759
Slowest days       7631438
Name: count, dtype: int64

Observations: Regular busy days halved while busiest and slowest days doubled.

## 06. Task Step 4-5

In [30]:
# Review the value counts

df_ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10.0    2764476
11.0    2738647
14.0    2691598
15.0    2664583
13.0    2663346
12.0    2620898
16.0    2537506
9.0     2456751
17.0    2089510
8.0     1719991
18.0    1637956
19.0    1259416
20.0     977049
7.0      891951
21.0     796379
22.0     634743
23.0     402621
6.0      290796
0.0      218951
1.0      115787
5.0       88064
2.0       69435
4.0       53284
3.0       51321
NaN          11
Name: count, dtype: int64

In [33]:
# Create and populate a new variable using an if-statement and for-loops.

busy_hour_results = []

for value in df_ords_prods_merge['order_hour_of_day']:
  if value == 10 or value == 11:
    busy_hour_results.append('Most orders')
  elif value == 3 or value == 4:
    busy_hour_results.append('Fewest orders')
  else:
    busy_hour_results.append('Average orders')

df_ords_prods_merge['busiest_period_of_day'] = busy_hour_results

print(f"Variable created and populated.")

Variable created and populated.

In [34]:
# Verify new variable

df_ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,0.0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Average orders
1,1.0,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days,Average orders
2,2.0,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days,Average orders
3,3.0,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Least busy,Slowest days,Average orders
4,4.0,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Least busy,Slowest days,Average orders

In [35]:
# Verify new variable

df_ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Average orders    26827342
Most orders        5503123
Fewest orders       104605
Name: count, dtype: int64

## 07. Export data

In [36]:
# Define the folder path and file name

folder_path = r'/Users/bertpearce/Documents/Python Projects/2024.05.22 Instacard Basket Analysis/'

file_name = 'ords_prods_grouped.pkl'

# Create the full file path

file_path = os.path.join(folder_path, '02 Data', 'Prepared Data', file_name)

# Export the DataFrame to a PKL file

df_ords_prods_merge.to_pickle(file_path)

print(f"DataFrame exported to {file_path}")

DataFrame exported to /Users/bertpearce/Documents/Python Projects/2024.05.22 Instacard Basket Analysis/02 Data/Prepared Data/ords_prods_grouped.pkl